@page "/catalog"
@using CatalogService.GrpcContracts
@using WebClient.Services
@inject ICatalogServiceClient CatalogClient

<h3>Catalog</h3>

@if (products == null)
{
    <p><em>Loading products...</em></p>
}
else if (!products.Any())
{
    <p>No products available.</p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>
                <strong>Name:</strong> @product.Name
                <br>
                <strong>Price:</strong> @product.Price
                <br>
                <strong>Description:</strong> @product.Description
            </li>
        }
    </ul>
}

@code {
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
       var response = await CatalogClient.GetAllProductsAsync();
        products = response.Products.ToList();
    }
}